@import "./reset.css";

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans", Arial, sans-serif,
    monospace;
}
